@font-face {
font-family: "MONTSERRAT-BOLD";
src: url("fonts/MONTSERRAT-BOLD.ttf")format("truetype");
}
@font-face {
font-family: "MONTSERRAT-LIGHT";
src: url("fonts/MONTSERRAT-LIGHT.ttf" )format("truetype");
}

@font-face {
font-family: "MONTSERRAT-SEMIBOLD";
src: url("fonts/MONTSERRAT-SEMIBOLD.TTF" )format("truetype");
}







#logo {
    max-width: 100%;
    border-radius: 100%;
    margin: 0 auto;
        width: 280px;
        margin-top: 2%;
        margin-bottom: 3%;
}


#inicio{
    margin-top: 6%;
}


.container-fluid{
    overflow: hidden;
}


/*Footer*/
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }

#contacto{
    background-color: white;
}
/*End Footer*/






/*Nuevo Nav*/

/*alteracoes da barra de navegacao principal*/

.navbar-inverse {
    background: black;
    border-bottom: 20px solid #B0EDEA;
    color: black;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    text-shadow: none;
    color: black;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav> ul >li,
.navbar-inverse .navbar-nav>li.focus>a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active >a:visited,
.navbar-inverse .navbar-nav>li:hover>a:hover {

    
    color: black;

}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: black;
    background-color: transparent;
}



.btn { border-radius: 25px; }
.text-dark {color: #B0EDEA;}
.text-light{color: #B0EDEA;}
.text16 {font-size: 16px;}



nav.navbar.navbar-default.navbar-inverse.navbarnofixed
{
    background: white;
    border-color: white;
    border-bottom-width: 0px;
}

.socialarrowheaders{
    padding-bottom: 1em;
}




.contactheader
{
    width: 21%;
}
/*Fin nuevo nav*/

/*inicio Prueba */

#pruebarow{
    height: 500px;
    background: #87C6B0;
 }
 

#prueba{
   /* width: 800px;
    height: 370px;*/
    background-color: black;
    opacity: 0.3;
    filter: alpha(opacity=30); 
        z-index: 1;
        /*position: absolute;*/
 
       /* margin-left: 57.8%;
        margin-top: 10%;  */ 
 }
 


/*Fin Prueba*/


/*inicio PORTADA */

#PORTADA {

    margin-bottom: 8%;

}

#blockPORTADAyellow{
       
    margin-left: 95%;
    margin-top: 39.5%;
    z-index: 3;
}

#blockPORTADAgreen{
       
    margin-left: 91%;
    margin-top: 40%;
    z-index: 3;
}



#blockmsjtransp {
    width: 43%;
    height: 29%;
    background-color: black;
    opacity: 0.3;
    filter: alpha(opacity=30);
    z-index: 1;
    position: absolute;
    margin-left: 57.8%;
    margin-top: -33%;
    display: inline;
}




#InBlockTransp{
   width: 800px;
   height: 370px;
       z-index: 1;
       position: absolute;

       margin-left: 57.8%;
       margin-top: 10%;  
}
#portadaphoto 
{
    float: left;
   
}

#textoportada{

    font-family: "MONTSERRAT-SEMIBOLD";
    position: absolute;
    left: 61%;
    right: 15%;
    margin-top: 12%;
    color: white;
    font-size: 3em;
    z-index: 2;
}

.portadalineposition{

    left: 61%;
    top: 15%;
    margin-top: 25%;
    z-index: 2 !important;

}



/*Fin PORTADA*/


/*Inicio  ABOUT ME*/

#conteineraboutme{

    margin-top: 15%;

}

#columna1aboutme{

    display:flex;
    align-items: center;
}
#aboutme{
    display:block;
    align-items: center;
}

.samehight {

    /* display: table-cell;
    float: none ; 
    padding: 0% !important;
    align-content: center; */
    height: 900px; 

}
#aboutmesection {

   margin-bottom: 10%;
   height: 100%;  /*no recuerdo si va o no va*/
    
}

.firstmargin{

    margin-top: 10%;

}

#aboutmetitle{

    margin-top: 12%;
    margin-bottom: 1%;
    font-size: 2.25em !important;
}

#aboutmeText_1{

    margin-top: 10%
}

#blockme{

    margin-top: 5%;
}

.aboutmeline{

    margin-left: 37%;

}

.aboutmemargins{

    /* margin-top: 15%;
    margin-bottom: 15%;
    margin-right: 15%;
    margin-left: 15%; */
    /* display: inline-block; */

    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
    
    
    /* margin: 20%; */
    /* width: 60%; */
    /* height: auto; */
}

/*Fin ABOUT ME*/

/*inicio Cuadricula*/



.cuadricula_margins{

    margin: auto;

    }

#cuadricula_first_row{

    margin-bottom: 3%; 
}

#cuadricula_second_row{

    margin-bottom: 10%; 
}

.hoverscuadricula{

    font-family: "MONTSERRAT-LIGHT";
    color:white;
    margin-top: 23.7%;
    font-size: 1.5em;
    letter-spacing: 0.25em;
    /* word-spacing: 0.1em; */
    
    

}



/*Fin Cuadricula*/

/*inicio maternidad*/

#maternity {

    margin-bottom: 22%;
    
}

.maternitymargins {

   padding: 2%;

    
}

.maternitytitle{

    margin-top: 35%;
    margin-bottom:30%;
    
}

/*Fin maternidad*/

/*inicio recien nacidos*/

#newborn {

    margin-bottom: 22%; 

}

#newborn_title {


}

#columna1newborn {


    }



.newborntitle{

    margin-top: 35%;
    margin-bottom:30%;
    
}

/*Fin recien nacidos*/

/*inicio niños*/

#children{

    margin-bottom: 22%;  

}

.newbornmargins,.childrenmargins,.familymargins {

/*   padding: 2%;*/
        
     } 

.childrentitle{

    margin-top: 35%;
    margin-bottom:30%;
    
}

/*Fin niños*/


/*inicio familia*/

#family{

    margin-bottom: 15%;  

}


.familytitle{

    margin-top: 35%;
    margin-bottom:30%;
    
}

/*Fin familia*/


#greenrow{
    height: 40px;
    background: #87C6B0;
    margin-bottom: 11%;
 }






.mysections {

   /* height: 10px;*/

}

#btnmenubar
{
    background: white;
    border-color: #B0EDEA;
    z-index: 999999;
}
.iconbar {
    background-color: black !important;
    z-index: 999999 !important;
}

#btnmenubar:hover
{
    background: white;
    border-color: #B0EDEA;
    z-index: 999999;
}



.header
{
    position: relative; 
    width: 100%;
    height: 100%;
        margin-top: 1em;

}

#instimage
{
    max-width: 37px;
    margin-bottom: 22px;
    max-height: 42px;
    display: inline-block;
    border-radius: 8px;
}

.thumbnail .caption {
    padding: 10% !important;
}

.navbar-inverse .navbar-nav>li>a {
    color: black;
}

.presentationtext
    {
           font-family: "Raleway-Light";
    font-size: 1.78em;
    text-align: justify;
    letter-spacing: 0.2em;
    margin-top: 1.6em;
        position: relative;
    right: 2%;
    }

#presentation
{
        position: relative;
    left: 1.3%;
    margin-top: 8.5%;
    display: inline-block;
    z-index: 999999;
    
}

.navbar-right {
    float: right;
}



#hrstroke {
    border: 0;
    border-top: 3px solid white;
    width: 39.5%;
    /* height: 500px; */
    margin-left: 0%;
        margin-top: 10px;
}

.vl {
      border-left: 4px solid #A5D5DE;
    height: 6.4em;
    display: inline-block;
    margin-right: 1.2em;
}
.mediatext{
     display: inline-block;
}


#miform{
    text-align: center;
}

.form-group {

/*
    text-align: center;
    width: 38%;
    align-items: center;
    text-align: center;
    align-content: center;
    left: 27%;
    font-size: 1.5em;
    height: 3em;
*/
    
    width: 100%;
    font-size: 1.5em;
    height: 3em;
    
    margin-bottom: 3%;
}

#lblcomment{
    margin-bottom: 2%;
    left: 0.3%;
}

.form-horizontal .control-label {
    font-family: "MONTSERRAT-LIGHT";
    letter-spacing: 0.2em;
    padding-top: 7px;
    margin-bottom: 0;
    text-align: center;
    width: 59%;
    float: left;
    
}
.form-control{
        height: 3em;
    border-radius: 0px;
}
.form-control-feedback {
    line-height: 42px;
}

#labelemail{
        left: -1%;
}

#subdiv{
        margin-top: 9em;
        margin-bottom: 6em;
}
#btnsubmit{
    font-size: 2em;
    padding: 6px 224px;
    text-align: center;
border-radius: 0px;
    margin-left: 5.8%;
    width: 494px;
    padding: inherit;
    padding-bottom: 6px;
}

#contactlabel{
        margin-bottom: 2em;
    margin-top: 2em;
    font-family: "MONTSERRAT-BOLD";
    letter-spacing: 0.2em;
    font-size: 4em;
        color: #ffc880;
    display: inline;
}

#contactline{
    width: 81px;
        display: inline;
    margin-left:200px;
}

#titleform{
    margin-bottom:7%;
}

.noresize {
  resize: none; 
}

.form-horizontal .has-feedback .form-control-feedback {
    right: 36%;
}




body{
    overflow-x: hidden;
}
#limitmenuphone{
    display: none;
}

.famenu{
    display: none;
}

/* Safari 10.1+ (alternate method) */

                @media not all and (min-resolution:.001dpcm) {
                    @supports (-webkit-appearance:none) {

                                    #institutionaltext2{
                                        top:54%;
                                    }
                    }
                }





.cabeceramodal{
    background: #E5F3F6;
    font-family: "Raleway-light";
    letter-spacing: 0.3em;
}
.titulomodal{
    font-weight: bold;
}

.cuerpomodal{
    font-family: "Raleway-regular";
/*    letter-spacing: 0.3em;*/
}
#botonaceptar{
    background-color: rgb(39,42,76);
}
.footermodal{
    border-top: 0px solid #e5e5e5;
}



#myModal{
        margin-top: 15%;
    z-index: 99999999;
}


.cabeceramodal{
border-radius: 50%;
    text-align: center;
    width: 41%;
    margin-left: 29%;
    margin-top: -5%;

}    
.dialogomodal{
    border-radius: 50% !important;
}
.contenidomodal{
border-radius: 50%;
}

#cruzcerrar {
    margin-top: 3px;
}

#botonaceptar{
    float: left;
    margin-left: 43%;
}



.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
    text-align: center;
    width: 100%;
}

.navbar-right {
    float: none !important;
    margin-right: 0px;
    text-align: center;
    margin: 0 auto !important;
    display: inline !important;
}

.navbar-nav>li {
      float: none;
    text-align: center;
    display: inline;
    font-family: "MONTSERRAT-LIGHT";
    font-size: 120%;
font-size: 130%;
    margin-left: 3%;
}

.navbar-inverse .navbar-nav>li>a {
    columns: #616160;
    display: inline;
    text-align: center !important;
}

#sociallinks{
       position: absolute;
    top: 7%;
    margin-left: 39%;
    width: 100%;
}



.blockgreen{
      width: 33px;
    height: 33px;
    background-color: #80bca6;
    position: absolute;
    
}

#blockheader{
    margin-left: 3.6%;
    margin-top: -3%;
    
}

#sociallinks>a>img{
    margin-right: 1%;
}

.pharagraphs{
    font-family: "MONTSERRAT-LIGHT";
    font-size: 1.3em;
    color: #616160;
    letter-spacing: 0.1em;
    word-spacing: 0.1em;
    width: 86%;
    text-align: justify;
    text-indent: 20px;
    margin: auto;
    line-height:200%

    
}

.greentitles{
    color: #80bca6;
    font-family: "MONTSERRAT-BOLD";
    text-align: center;
    letter-spacing: 0.2em;
    word-spacing: 0.1em;
    font-size: 2.6em;
    /*margin: auto;*/
}




.blockyellow{
     width: 70px;
    height: 70px;
    background-color: #ffc880;
        z-index: 1;
        position: absolute;


}



#blockheaderyellow {
       
    margin-left: 6.8%;
    margin-top: -1.9%;
}



#top{
        margin-bottom: 3em;
}



.myline{
    width: 59px;
    height: 8px;
    z-index: 1;
    position: absolute;
}
.yellowline{
    background-color: rgb(255, 200, 128);
}



#blockaboutmegreen{
    margin-left: 12%;
    margin-top: -39%;
}

.blockyellowmedium{
     width: 53px;
    height: 53px;
    background-color: #ffc880;
    position: absolute;
}

#blockaboutmeyellow{
    margin-top: 39%;
    margin-left: 84%;
}

#columna1{
/*    width: 100%;*/
    height: 100%;
    background: blue;
}

#columna2{
/*    width: 100%;*/
    height: 100%;
    background: red;
}

.miclase{
    display: inline-block;
}



input[type=text],input[type=email] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: none;
     box-shadow: none; 
    -webkit-transition: none;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
     transition: none; 
    border-color: #80BCA6;
    width: 35%;
    margin:0 auto;
    margin-left: 25%;
}


.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-success .form-control {
    border-color: #3c763d;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#emaildiv{
    width: 100%;
}

#comment
{
    border-color: #80BCA6;
        height: 24em;
    width: 35%;
    margin:0 auto;
        margin-left: 25.6%;
}



.form-group {
    width: 85%;

    margin-left: 17.9% !important;

}

.help-block.with-errors
{
    width: 109%;
}

#emailerror{
    width: 100%;
}

.slick-prev {
    left: 4% !important;
    z-index: 999;
}
.slick-next {
    right: 4% !important;
    z-index: 999;
}

.slick-prev:before, .slick-next:before {
    font-size: 50px !important;
    opacity: 1 !important;
        font-family: monospace !important;
    color: rgb(255, 200, 128) !important;
}

.slick-prev:before {
    content: '<' !important;
}
.slick-next:before {
    content: '>' !important;
}

.slick-slide img {
    width: 100% !important;
    max-height: 735px !important;
}

#inputSuccess3,#inputGroupSuccess2,#comment{
    width: 493px;
    
}



/* HOVER */

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }
  
  .hovereffect .overlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    -ms-transform: scale(0,1);
    transform: scale(0,1);
  }
  
  .hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);

  }
  
  .hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
   
    

  }
  
  .hovereffect:hover img {
    /* filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter'); */
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);

  }
  
  .hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    background-color: transparent;
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
  }
  
  .hovereffect a, .hovereffect p {
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
  }
  
  .hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }


/* fin HOVER */



.lineunders{
     width: 59px;
    height: 8px;
    z-index: 1;
    position: absolute;
    
    
}

.greenline{
     background: green;
}














/*Tablets*/
/*@media (min-width: 768px) and (max-width: 991px) */

@media (max-width: 991px)
{
        #columna2{
                background: green;
        }
    
    .hovereffect .overlay {
    transform: inherit;
    }
}




/*Tablets and Upper*/
@media (min-width: 768px)
{
    
    

}



/* Mobile */
@media (max-width: 768px)
{
   .hovereffect .overlay {
    transform: inherit;
    }
}
    
 
/*    Customs */
@media (min-width:991px) and (max-width: 1200px) 
{
   .navbar-nav>li {
    font-size: 130%;
    margin-left: -0.1%;
    margin-top: 2%;
    }
    #navbar-1{
            margin-top: 2.3%;
    }
    #aboutme,#columna1aboutme
    {
        width: 100%;
    }
    
    
            #aboutmetitle {
            margin-top: 0%;
            margin-bottom: 0%;
            position: absolute;
            top: -112%;
            left: 43%;
        }



        .aboutmeline {
            margin-left: 0%;
            top: -107%;
            left: 43%;
        }


        #aboutmesection {
            margin-top: 15%;
            margin-bottom: 0%;
        }

    
}


